{% extends "base.html" %}
{% block body %}
    <div class="container">
      <div>
        <h1>
          You are logged in.
        </h1>
        <p>
          Now that you are logged in, try adding your two factor auth to your account
          via an application or via SMS.
        </p>
      </div>
      <div class="row">
        <div class="span6">
	  <!-- Source: http://openclipart.org/detail/176289/top-secret-by-joshbressers-176289 -->
          <img src="/static/img/top-secret.png"/>
        </div>
        <div class="span6">
          <a class="btn" href="/enable-tfa-via-app">
            Enable app based authentication
          </a>
          <div>
            <p>
              For apps like "Google Authenticator".
	      {% if opts['user'].account['totp_enabled_via_app'] %}
              <br>
              (Enabled)
	      {% endif %}
            </p>
          </div>
          <a class="btn" href="/enable-tfa-via-sms">
            Enable SMS based authentication
          </a>
          <div>
            <p>
              For any phone that can recieve SMS messages.
	      {% if opts['user'].account['totp_enabled_via_sms'] %}
              <br>
              (Enabled for {{ opts['user'].account['phone_number'] }})
	      {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}